<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014233972985-s7om8591ve0mnvvhl3hv38mrohoo72hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014233972985-s7om8591ve0mnvvhl3hv38mrohoo72hm</string>
	<key>API_KEY</key>
	<string>AIzaSyApqtUIKYAtcCHcSM_CGF-py3yQhROhMiw</string>
	<key>GCM_SENDER_ID</key>
	<string>1014233972985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.fyz.Cafe-Manager</string>
	<key>PROJECT_ID</key>
	<string>cafe-dd31f</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-dd31f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014233972985:ios:dc028fdd5b1b09f802a228</string>
</dict>
</plist>